/* body {
  background-color: #722F37; 
} */

.admin-container {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 20px;
}

.admin-button {
  background-color: white;
  border: 2px solid black;
  width: 25%;
  height: 150%;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 20px;
}

.admin-button:hover {
  background-color: black;
  color: white;
}

.admin-button-black {
  background-color: black;
  transition: background-color 0.3s;
  border: none;
}

.admin-button-black:hover {
  background-color: #444444; /* Promenite boju ovde prema potrebi */
}

.btn-pagination {
  border: 1px solid black;
  border-radius: 20px;
  padding: 8px 16px;
  background-color: transparent;
  color: rgb(49, 48, 48);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-pagination:hover {
  background-color: rgb(59, 59, 59);
  color: white;
  border-color: transparent;
}

.admin-search {
  border: 1px solid #ccc;
  /* Dodaje tanku ivicu oko polja */
  border-radius: 5px;
  /* Zaobljava ivice polja */
  padding: 8px 12px;
  /* Dodaje unutrašnji prostor */
  font-size: 16px;
  /* Postavlja veličinu fonta */
  outline: none;
  /* Uklanja naglašavanje prilikom klika */
  transition: border-color 0.2s;
  /* Dodaje glatku tranziciju boje ivice */
  width: 300px;
}

.admin-search:focus {
  border-color: #000000;
  /* Menja boju ivice prilikom fokusa */
}

.search-icon {
  margin-right: 8px;
  /* Dodaje marginu između ikone i input polja */
  color: #555;
  /* Postavlja boju ikone */
}

.search-container {
  margin-bottom: 1rem; /* Dodajte razmak ispod pretrage */
}

/* Dodavanje uspravnih linija između kolona */
.admin-table {
  border-collapse: collapse;
  width: 100%;
}

/* Stilovi za glavni deo tabele */
.admin-table thead th {
  background-color: #413f3f;
  /* Promenite boju pozadine */
  color: #ffffff;
  /* Promenite boju teksta */
  border-bottom: 2px solid #6f7172;
  /* Dodajte donju liniju */
  padding: 8px;
  /* Prilagodite padding prema potrebi */
}

.admin-table th,
.admin-table td {
  border-right: 1px solid #e2e8f0;
  /* Uspravna linija između kolona */
  padding: 8px;
  /* Prilagodite padding prema potrebi */
}

/* Dodavanje linija na skroz levoj i skroz desnoj strani */
.table thead th:first-child,
.table tbody td:first-child {
  border-left: 1px solid #e2e8f0;
  /* Linija na skroz levoj strani */
}

.table thead th:last-child,
.table tbody td:last-child {
  border-right: 1px solid #e2e8f0;
  /* Linija na skroz desnoj strani */
}

.admin-pagination-container {
  display: flex;
  justify-content: center;
  /* Centriranje sadržaja po horizontali */
  align-items: center;
  /* Centriranje sadržaja po vertikali */
  margin-top: 4rem;
  /* Prilagodite margine prema potrebi */
}

.admin-pagination-buttons {
  display: flex;
  gap: 0.5rem;
  /* Razmak između dugmadi */
}

.showing-entries {
  margin-right: 1rem;
  /* Dodajte desni razmak */
}

.view-user-btn:hover {
  background-color: #1e1e1e;
  color: #ffffff; /* Bela boja teksta prilikom hovera */
}

.view-user-btn {
  border-color: #000000;
  color: #1e1e1e;
}

.whitespace {
  color: #ffffff;
}

.radio-check {
  transform: scale(1.2); /* Promenite ovaj broj da biste povećali ili smanjili veličinu */
  margin-right: 10px; /* Dodajte razmak između radio checka i teksta */
}

/* Stilizovanje kartica */
.order-card {
  border: 2px solid #ced4da; /* Deblji border */
  border-radius: 0.5rem; /* Veći border radijus */
  padding: 1.5rem; /* Povećanje unutrašnjeg prostora */
  margin-bottom: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Dodavanje senke */
}

.order-card h3 {
  margin-bottom: 1rem; /* Veći razmak ispod naslova */
}

.order-card p {
  margin-bottom: 1rem; /* Veći razmak između paragrafa */
}

.order-card ul {
  list-style: none;
  padding-left: 0;
}

/* Stilizovanje unutrašnjih elemenata */
.order-card ul li {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Senka za svaku stavku unutar liste */
  border-radius: 0.25rem; /* Malo zaobljeni ivični radijus */
  padding: 1rem; /* Povećanje unutrašnjeg prostora */
  margin-bottom: 0.5rem; /* Manji razmak između stavki */
}

/* Dodavanje razmaka između stavki */
.order-card ul li + li {
  margin-top: 0.5rem; /* Minijaturni razmak između stavki */
}

/* Stilizovanje dugmeta "Accept Order" */
.accept-order-button {
  margin-top: 1rem;
}

/* Stilizovanje modalnog prozora */
.order-modal-content {
  border-radius: 10px;
  max-width: 1000px; /* Postavili smo maksimalnu širinu modala na 800 piksela */
  width: 100%; /* Definisali smo širinu modala na 90% */
}

.order-modal-header {
  background-color: #000000;
  color: #fff;
}

.order-modal-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #ced4da;
}

/* Stilizovanje select polja u modalnom prozoru */
.order-modal-body select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #dacece;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

/* Stilizovanje opcija select polja */
.order-modal-body option {
  font-size: 1rem;
}

.order-form-control:focus {
  border-color: #000000;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

input[type="radio"]:checked {
  background-color: black; /* Boja pozadine prilikom klika */
  box-shadow: none;
  border: none;
}

.select-wrapper {
  color: black; /* Postavljanje boje teksta na crnu */
}

.select-wrapper select {
  color: black; /* Postavljanje boje teksta na crnu */
  box-shadow: none; /* Uklanjanje box-shadow-a */
}

.select-wrapper select:hover,
.select-wrapper select:focus {
  box-shadow: none;
  border-color: black; /* Postavljanje boje ivice na crnu na hover/focus */
}

.admin-cog-icon {
  cursor: pointer;
  transition: transform 0.3s ease; /* Dodajemo prijelaz transformacije */
}

.admin-cog-icon:hover {
  transform: rotate(360deg); /* Rotacija točka na hover */
}

.admin-modal-footer-buttons {
  display: flex;
  justify-content: space-between;
}