.div-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.registration-form {
    text-align: left;
}

.login-form {
    text-align: left;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-box {
    padding: 20px;
    background-color: #fff;
    /* Boja pozadine */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    /* Efekat senke */
}

.flex-grow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}