.div-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.div-center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form {
    text-align: left;
}

.login-form {
    text-align: left;
}

.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-box {
    padding: 20px;
    background-color: #fff;
    /* Boja pozadine */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    /* Efekat senke */
    width: 70%;
}

.flex-grow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.customer-form-container {
    width: 50%;
}

.bg-dark {
    background: #212529;
}

.bg-light {
    background: #f8f9fa;
}

.overflow-hidden {
    overflow: hidden;
}

.filter {
    cursor: pointer;
}

.filter-container {
    width: 25%;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

input.number-input-blank::-webkit-outer-spin-button,
input.number-input-blank::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].number-input-blank {
    appearance: none;
    -moz-appearance: textfield;
}

.cart-img {
    width: 3.5rem; 
}

.cart-input-quantity {
    width: 4rem;
}